<html>

<head>
    <title>layout</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css">
</head>

<body>
    <div class="main">
        <div class="sol">
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil_1"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
        </div>
        <div class="orta">
            <div class="sekil_1"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil_1"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil_3"></div>
        </div>
        <div class="sag">
            <div class="sekil_2"></div>
            <div class="sekil"></div>
            <div class="sekil_1"></div>
            <div class="sekil_2"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil"></div>
            <div class="sekil_2"></div>
        </div>
        <div class="clear"></div>
    </div>
</body>

</html>